* {
    box-sizing: border-box;   
  }

  /* CSS para outras resoluções*/

@media screen and (min-width: 320px) and (max-width: 812px){
    .col-12 ul{
        display: grid;
    }

    .cards{
        display: block !important;
    }
    .cards > div{
        display: block !important;
    }

    iframe{
        width: 100%;
    }

    .imgDestaque, .img-perfil{
        width: 100%;
    }

    .button-video, .button-audio, .button-img, .audio{
        margin-top: 0px !important;
        font-size: 12px !important;
    }

    .grid-container{
        display: contents !important;
    }

    .contato-iframe{
        margin-left: auto !important;
    }

    .flex-container-saibaMais{
        display: block !important;
    }

    .card-saibamais{
        width: 100% !important;
    }

    .img-saibaMais{
        width: 100% !important;
        margin-left: 0px !important;
    }
}

 @media screen and (min-width: 768px) and (max-width: 1024px){
    .col-12 ul{
        display: flex;
         
    }
    
    .button-video, .button-audio, .audio{
        margin-top: 0px;
            
    }

    .grid-container{
        display: contents !important;
    }

    .contato-iframe{
        margin-left: auto !important;
    }

    .flex-container-saibaMais{
        display: block;
    }

    .flex-container-saibaMais{
        display: block !important;
    }

    .card-saibamais{
        width: 100% !important;
    }

    .img-saibaMais{
        width: 100% !important;
        margin-left: 0px !important;
    }
}


@media screen and (min-width: 768px) and (max-width: 1024px){
    body{
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    
    .cards{
        display: contents !important;
    }

    
    .imgDestaque{
        width: 100%;
    }

    
    iframe{
        width: 100%;
    }

    .grid-container{
        grid-template-columns: min-content !important;
        grid-gap: 5px !important;
        padding: 1px !important;
    }

    .contato-iframe{
        margin-left: auto !important;
    }

    .flex-container-saibaMais{
        display: block !important;
    }

    .card-saibamais{
        width: 100% !important;
    }

    .img-saibaMais{
        width: 100% !important;
        margin-left: 0px !important;
    }
}
        

@media screen and (min-width: 1440px) and (max-width: 1920px){
    body{
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    
    .cards{
        display: contents !important;
    }

    .imgDestaque{
        width: 100%;
    }

    
    iframe{
        width: 100%;
    }

    .contato-iframe{
        margin-left: auto !important;
    }

    .flex-container-saibaMais{
        display: block !important;
    }

    .card-saibamais{
        width: 100% !important;
    }

    .img-saibaMais{
        width: 100% !important;
        margin: auto !important;
    }      
}


body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #f1f1f1;
    margin-left: 5%;
    margin-right: 5%;
}

header {
    padding: 5%;
    color: white;
    font-size: 30px;
    background-image: url(imagens/img12.jpg);
    background-position: right;
    border-radius: 5px;  
}

ul{
    list-style-type: none;
    background-color: #012f46;
    padding: 10px;
    display: flex;
    justify-content: center;
    border-radius: 4px;
}

li a{
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
}

li a:hover:not(.active) {
    background-color:rgba(255, 255, 255, 0.281);
    border-radius: 4px;
  }
  
  .active {
    background-color: rgb(167, 39, 52);
    border-radius: 4px;
  }

.cards{
    display: flex;
    
}

.cards > div{
    margin: 10px;
    padding: 10px;
}

p{
    text-align: justify;
}

.audio{
    margin-top: 100px
}

.button-img, .button-video, .button-audio{
    background-color: #a72734;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    margin: 4px 2px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.button-video{
   margin-top: 104px;
}

.button-audio{
    margin-top: 75px;
}

.button-img, .imgDestaque{
    width: 100%;
}

footer {
    width: 100%;
    background-color: #012f46;
    padding: 10px;
    text-align: center;
    color: white;
    border-radius: 5px;
    
}

/*página sobre*/

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto ;
    background-color: rgb(235, 235, 235);
    grid-gap: 5px;
    padding: 1px;
}


.grid-container > div {
    padding: 1px;
    align-content: center;
    margin: 15px;
}

.item1{
    grid-area:1 / 1;
}

.item3{

    grid-area: 2 / 1;
}

.item4{
    grid-area: 2 / 2;
}

  .button-sobre{
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #a72734;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.css-base{
    text-align: center;
}

.aSobre {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

.aContato{
    text-decoration: none;
    font-size: 22px;
    color: white;
}

.table-titulo{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.table-sobre{
    border-collapse: collapse;
    width: 100%; 
    overflow-x:auto;
}

th, td {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
    padding: 1%;
    font-size: 20px;
    border-bottom: 1px solid #ddd;
}

tr:hover {background-color: #d3d3d3;}



/* página de contato*/

.contato{
    background-color: #ffffff6e;
    background-image: url(imagens/background.png);
    background-position: bottom;
    border-radius: 4px;
}

.titulo-contato{
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.contato-iframe{
  margin-left: 35%;
}


/* página de saiba mais*/

.flex-container-saibaMais{
    display: flex;
}

.card-saibamais {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 5px;
    width: 30% 
}

.button-saibaMais{
    background-color: #a72734;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    margin: 4px 2px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.img-saibaMais{
    margin-left: 20px;
    padding: 5px;
}